
.navbar-header {
  z-index: 10;
}

.navbar-nav>li {
  display: block;
  margin: 0px 5px;
}

#navbar .navbar .navbar-inverse .navbar-fixed-top .navbar-header {
  background-color: #070751;
}


.navbar-nav>li>a {
  font-weight: bold;
  background-color: black;
  border-radius: 20;
}

.navbar-nav>li>a:hover {
  font-weight: bold;
  background-color: darkgray;
}
.navbar-brand {
    font-weight: bold;
}
.navbar-form>#searchBtn4 {

}

/* Header End
*/

.page-header a {
  color: black;
}

#sidebar .category {
text-align: center;

}
.well {

}

.main {
  margin-top: 3%;
}

#multiHero{
  width:100%;
  margin-top: ;
  margin-right: 55px;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: left;
  height:100%;
}
#multiHeroContents{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#multiHeroContents li{
  display: none;
}
#multiHeroControls{
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  position: relative;
}
#multiHeroControls li{
  float: left;
}
#multiHeroControls li.next,
#multiHeroControls li.back{
  float: right;
}
#multiHeroControls li a{
  display: block;
  padding: 5px 5px;
  margin-right: 2px;
  border: 1px solid #CCCCCC;
  color: #666666;
  font-size: 70%;
  font-family: Arial, sans-serif;
  text-decoration: none;
  line-height: 0.75;
}
#multiHeroControls li a:hover{
  background: #CCCCCC;
}
#multiHeroControls li.thisChild a{
  border-color: #666666;
  background: #666666;
  font-weight: bold;
  color: #FFFFFF;
}
#multiHeroControls li.next a{
  margin: 0;
}
/* Body End
*/

.footer {
  margin-top: 20px;
  text-align: center;
}

#footer-img {
  height:25px;
}
#img-guide {
  height:28px;
}
#footer-wide, #footera, #footerb {
    margin-top: 3px;
    color:white;
    margin-bottom: 3px;
    padding:1px;
}

#footer-main {
    background-color:#070751;

}
#copyright-footer {
  clear: both;
  background-color:#070751;
  color:white;
}