header{
  position:fixed;
  width: 1400px;
  padding:5px;
  margin-top:0px;
  z-index: 10;

}
  #menu-list{
    display:block;
    margin:10px;
    font-size: 18px;
    font-weight: bolder;
    background-color:#101000;
    padding:10px;
    float:right;
    opacity:0.8;
    width:150px;
    
  }
  #menu-list:hover{
    opacity: 1;
    background-color: black;
  }

.logo-bar {
  float: left;
}
.menu-bar {
  float: right;
  margin-top: 2%;
  text-align: center;
  background-color: lightgray;
  opacity:0.0;
  width: 930px;
  
}
.menu-bar:hover {
  opacity:0.6;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}
.nav-bar{
  margin-top: 0px;

}
#menu-contents{
  margin:2px;
  padding:10px;
  color:white;

}


/* Header End
*/


#sidebar {
  margin-top:200px;
  width:300px;
  background-color: lightgray;
  opacity:0.9;
  text-align: center;
  float: right
}

.pan {
  position:relative;
}


/* Body End
*/

