#navbar-fluid, .navbar-brand,.navbar-fixed-top, .navbar-inverse, .navbar-header, .navbar-left, .navbar-right {
  background-color: #001e2f;
  z-index: 10;
  opacity: 0.98;
}





.navbar-brand {
    font-weight: bold;
    z-index: 10;
    opacity: 1;
}

#searchform4{
  display:block;
  margin-right:2px;
}
/* Header End
*/

h1, h2, h3, h4, li, a, p {
  font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, "ＭＳ Ｐゴシック", sans-serif;
}


.main {
  margin-top: 3%;
}

.page-header a {
  color: black;
}


#sidebar .category {
text-align: center;
opacity: 0.98;
}
.well {
width: 98%;
}

.jumbotron {
  height: auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: auto;
}


#multiHero{
  width:100%;
  margin-bottom: 0px;
  text-align: center;
  height: auto;
  min-height: 300px;
  width:96%;
  margin-left: 2%;

}
#multiHeroContents{
  list-style-type: none;
  min-height: 250px;
  height: auto;
  width:100%;

}
#multiHeroContents>li{
  display: block;
}
#multiHeroControls{
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  position: relative;
}
#multiHeroControls li{
  float: left;
}
#multiHeroControls li.next,
#multiHeroControls li.back{
  float: right;
}
#multiHeroControls li a{
  display: block;
  padding: 5px 5px;

  border: 1px solid #CCCCCC;
  color: #666666;
  font-size: 70%;
  font-family: Arial, sans-serif;
  text-decoration: none;
  line-height: 0.75;
}
#multiHeroControls li a:hover{
  background: #CCCCCC;
}
#multiHeroControls li.thisChild a{
  border-color: #666666;
  background: #666666;
  font-weight: bold;
  color: #FFFFFF;
}
#multiHeroControls li.next a{
  margin: 0;
}


.table-striped {
  text-align: center;
}
.table-responsive{
  margin:0px;
  padding:0px;
}
.img-responsive {
  width:96%;
  margin-left: 2%;
  margin-right:2%;
  text-align: center;
}
/* Body End
*/

.footer {
  margin-top: 20px;
  text-align: center;
}

#footer-img {
  height:25px;
}

#img-guide {
  height:28px;
}
#footer-wide, #footera, #footerb {
    margin-top: 3px;
    color:white;
    margin-bottom: 3px;
    padding:1px;
}

#footer-main , #copyright-footer {
    background-color:#001e2f;
    opacity: 0.95;

}
#copyright-footer {
  clear: both;
  color:white;
}





                
                  
              
               
                  
                
            